<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item text-danger"><a href="#" class="text-muted">Home</a></li>
        <li class="breadcrumb-item"><a href="#" class="text-muted">News</a></li>
        <li class="breadcrumb-item"><a href="#" class="text-muted">Categories</a></li>
        <li class="breadcrumb-item text-danger" aria-current="page">{{ category }}</li>
    </ol>
</nav>