<section class="py-2">
    <div class="splide">
        <div class="splide__track container">
            <div class="splide__list">
                {% for item in rss.channel.item|slice(3) %}
                    <div class="splide__slide px-3 border-left border-right border-danger">
                        <div class="splide__slide__meta pl-3 mt-2 mb-2 row align-items-center justify-content-center">
                            <span class="badge text-white bg-info mr-2 text-center font-weight-normal">{{ item.category }}</span>
                            {% set difference = date('now'|date()).diff(date(item.pubDate)) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays == 1 %}
                                <div class="text-muted mr-2 post-time"><i class="far fa-clock"></i> Yesterday</div>
                            {% elseif leftDays == 0 %}
                                <div class="text-muted mr-2 post-time"><i class="far fa-clock"></i> Today</div>
                            {% else %}
                                <div class="text-muted mr-2 post-time"><i class="far fa-clock"></i> {{ leftDays }} days ago</div>
                            {% endif %}
                        </div>
                        <a href="{{ item.link }}" class="text-dark text-center">
                            <p class="lead">{{ item.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>