.splide__slide a p.lead {
    font-size: 0.95rem;
    margin: 0;
}

.splide__slide__meta {
    font-size: 0.8rem;
}

.post-time {
    font-size: 0.7rem;
}

.jumbotron .post-time {
    font-size: 0.8rem;
}